extends base

block content
  .container
    h1=quiz[0].type.toUpperCase()
    h4=`Total ${quiz.length} questions` 
    each q in quiz
      #box
        p= `${(quiz.indexOf(q)+1)}. ${q.question}`
        .clicker(tabindex='1') Click for Answer
        .hiddendiv
          p= q.answer
        